:root {
        --ic-brand-primary-darkened-5: #000050;
--ic-brand-primary-darkened-10: #00004C;
--ic-brand-primary-darkened-15: #000048;
--ic-brand-primary-lightened-5: #0C0C5C;
--ic-brand-primary-lightened-10: #191965;
--ic-brand-primary-lightened-15: #26266D;
--ic-brand-button--primary-bgd-darkened-5: #000050;
--ic-brand-button--primary-bgd-darkened-15: #000048;
--ic-brand-button--secondary-bgd-darkened-5: #EEBE00;
--ic-brand-button--secondary-bgd-darkened-15: #D5AA00;
--ic-brand-font-color-dark-lightened-15: #515151;
--ic-brand-font-color-dark-lightened-28: #6C6C6C;
--ic-link-color-darkened-10: #0069D0;
--ic-link-color-lightened-10: #1981E9;
--ic-brand-primary: #000054;
--ic-brand-font-color-dark: #333333;
--ic-link-color: #0074e7;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #FFFFFe;
--ic-brand-button--secondary-bgd: #fac800;
--ic-brand-button--secondary-text: #000054;
--ic-brand-global-nav-bgd: #f4f4f4;
--ic-brand-global-nav-ic-icon-svg-fill: #000054;
--ic-brand-global-nav-ic-icon-svg-fill--active: #E61E2A;
--ic-brand-global-nav-menu-item__text-color: #000054;
--ic-brand-global-nav-menu-item__text-color--active: #E61E2A;
--ic-brand-global-nav-avatar-border: #000054;
--ic-brand-global-nav-menu-item__badge-bgd: #E61E2A;
--ic-brand-global-nav-menu-item__badge-bgd--active: #E61E2A;
--ic-brand-global-nav-menu-item__badge-text: #FFFFFF;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #E61E2A;
--ic-brand-header-image: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576944/nav-icon.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576946/responsive-nav-logo.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576945/favicon.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576947/apple-home-screen-icon.png');
--ic-brand-msapplication-tile-color: #E61E2A;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576948/windows-tile-icon.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576949/windows-tile-wide-icon.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/25576950/right-hand-side-logo.png');
--ic-brand-Login-body-bgd-color: #f2f2f2;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/2/global-brand.jpg?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&Expires=1947260250&Signature=23BrwwdA%2FZ63Pjk4KTTJDcKoKnQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-shadow-color: #666666;
--ic-brand-Login-logo: url('https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_95950000000000001/attachments/3/logo.jpg?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&Expires=1947260251&Signature=TKcfzK4isnQ%2Fhx0vSdCFozaDgQA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #dc291e;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }